.shop-item {
    border-radius: 15px;
    padding: 5px;
    position: relative;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    img {
      width: 240px;
      height: 200px;
      object-fit: cover;
      border: 1px solid gray;
      border-radius: 15px;
    }
  
    svg {
      position: absolute;
      right: 15px;
      top: 15px;
      cursor: pointer;
      
      path {
        fill: firebrick;
      }
    }
  }